@modal-fullscreen-mobile-header-height: 50px;
@modal-fullscreen-mobile-content-padding: 7px;
@modal-fullscreen-mobile-header-background: #f8f8f8;
@modal-fullscreen-mobile-header-border-color: #e7e7e7;
@modal-fullscreen-mobile-header-font-size: 22px;
